<h1> Cars </h1>

<table class="table table-striped">
    <tr>
        <th> Plate ID </th>
        <th> Model </th>
        <th> Make </th>
        <th> Manufacture Year </th>
        <th> Insurance Date </th>
        <th> Value </th>
        <th> Is New Car? </th>
        <th> Created At </th>
        <th> Updated At </th>
        <th> Edit </th>
        <th> Delete </th>
    </tr>

    <% cars.forEach(function(car){ %> 
    <tr>
        <td> <a href="/quote/detail?id=<%= quote._id %>">  <%= quote.quoteId %>  </a></td>
        <td> <%= car.plateId %> </td>
        <td> <%= car.model %> </td>
        <td> <%= car.make %> </td>
        <td> <%= car.manufactureYear %> </td>
        <td> <%= car.insuranceDate %> </td>
        <td> <%= car.value %> </td>
        <td> <%= car.isNewCar %> </td>
        <td> <%= moment(car.createdAt).fromNow() %> </td>
        <td> <%= moment(car.updatedAt).fromNow() %> </td>

        <td> <a href="/car/edit?id=<%= car._id %>"> Edit </a> </td>
        <td> <a href="/car/delete?id=<%= car._id %>"> Delete </a> </td>
    </tr>
<% }) %>
</table>