<h2> <%= quote.quoteId %> </h2>

<div>
    Quote Value: <%= quote.quoteValue %>
</div>

<div>
    Quote Date: <%= quote.quoteDate %>
</div>

<div>
    Insurance Type: <%= quote.insuranceType %>
</div>

<div>
    Created At: <%= moment(quote.createdAt).fromNow() %>
</div>

<div>
    Updated At: <%= moment(quote.updatedAt).fromNow() %>
</div>


    <hr>
  
    <div class="car"> 
        <div>Car Plate ID: <%= quote.carRef.plateId %></div>
        <div>Model: <%= quote.carRef.model %></div>
        <div>Make: <%= quote.carRef.make %></div>
    </div>
